USE [ThietBiDienTu]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorys]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[ParentId] [int] NULL,
	[Orders] [int] NULL,
	[MetaDesc] [nvarchar](max) NOT NULL,
	[MetaKey] [nvarchar](max) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Categorys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configs]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Configs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[ReplayDetail] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CouponCode] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[CouponStart] [datetime] NULL,
	[CouponEnd] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Coupons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailPrds]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailPrds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Detail] [nvarchar](max) NULL,
	[CreateBy] [int] NULL,
	[CreateAt] [datetime] NULL,
	[Updateby] [int] NULL,
	[UpdateAt] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DetailPrds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Links]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Links](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[TypeLink] [nvarchar](max) NOT NULL,
	[TableId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Links] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[TableId] [int] NULL,
	[Orders] [int] NULL,
	[Position] [nvarchar](max) NULL,
	[ParentId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ExportDate] [datetime] NULL,
	[DeliveryAddress] [nvarchar](max) NULL,
	[DeliveryName] [nvarchar](max) NULL,
	[DeliveryPhone] [nvarchar](max) NULL,
	[DeliveryEmail] [nvarchar](max) NULL,
	[DeliveryNote] [nvarchar](max) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TopId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Img] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NOT NULL,
	[MetaKey] [nvarchar](max) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductIMGs]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductIMGs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProduct] [int] NOT NULL,
	[IdOption] [int] NOT NULL,
	[Images] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductIMGs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductOptions]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProduct] [int] NOT NULL,
	[OptionName] [nvarchar](max) NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CatId] [int] NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[SupplierId] [int] NOT NULL,
	[Images] [nvarchar](max) NULL,
	[ImageSecondary] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Number] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PriceSale] [decimal](18, 2) NOT NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[MetaKey] [nvarchar](max) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[SaleStart] [datetime] NULL,
	[SaleEnd] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[DetailRating] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[RatingStar] [int] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Ratings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sliders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[Img] [nvarchar](max) NULL,
	[Orders] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Sliders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[Img] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Orders] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[ParentId] [int] NULL,
	[Orders] [int] NULL,
	[MetaDesc] [nvarchar](max) NOT NULL,
	[MetaKey] [nvarchar](max) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Topics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/12/2023 2:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Images] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[Access] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorys] ON 

INSERT [dbo].[Categorys] ([Id], [Name], [Slug], [ParentId], [Orders], [MetaDesc], [MetaKey], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (6, N'Thịt', N'thit', 0, 1, N'Ngon', N'thit-tuoi', 6, CAST(N'2022-12-02T13:39:36.347' AS DateTime), 6, CAST(N'2023-05-11T20:37:01.437' AS DateTime), 0)
INSERT [dbo].[Categorys] ([Id], [Name], [Slug], [ParentId], [Orders], [MetaDesc], [MetaKey], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (7, N'Rau củ quả', N'rau-cu-qua', 0, 1, N'Tươi', N'rau-cu-qua', 6, CAST(N'2022-12-02T13:40:23.393' AS DateTime), 6, CAST(N'2023-05-11T20:37:03.180' AS DateTime), 0)
INSERT [dbo].[Categorys] ([Id], [Name], [Slug], [ParentId], [Orders], [MetaDesc], [MetaKey], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (8, N'Hải sản', N'hai-san', 0, 1, N'Quá ngon', N'hai-san', 6, CAST(N'2022-12-02T13:40:53.763' AS DateTime), 6, CAST(N'2023-05-11T20:37:04.463' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Categorys] OFF
GO
SET IDENTITY_INSERT [dbo].[Configs] ON 

INSERT [dbo].[Configs] ([Id], [Name], [Value]) VALUES (1, N'Giới Thiệu Chung', N'Ngon bổ rẻ
Hàng điện tử dùng 10000 năm không hư
Giá ẻ nhất thị trường việt Nam
Uy tín số 1 thế giới')
INSERT [dbo].[Configs] ([Id], [Name], [Value]) VALUES (3, N'Địa chỉ', N'63/49 Đường số 10 phường tăng nhơn phú B quận 9 thành phố Thủ Đức thành phố Hồ Chí Minh')
INSERT [dbo].[Configs] ([Id], [Name], [Value]) VALUES (6, N'dsadsa', N'Ho Ngoc Toan')
SET IDENTITY_INSERT [dbo].[Configs] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [FullName], [Email], [Phone], [Title], [Detail], [ReplayDetail], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (2, N'test', N'test@gmail.com', N'21323', N'Hay', N'Quá hay', N'Chưa trả lời!', 1, CAST(N'2022-12-02T01:07:56.023' AS DateTime), 1, CAST(N'2022-12-02T01:07:56.023' AS DateTime), 1)
INSERT [dbo].[Contacts] ([Id], [FullName], [Email], [Phone], [Title], [Detail], [ReplayDetail], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (3, N'hjhj', N'hihi@gmail.com', N'123332', N'Hay', N'hay', N'Chưa trả lời!', 6, CAST(N'2022-12-02T13:45:42.567' AS DateTime), 6, CAST(N'2022-12-02T13:45:42.567' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Links] ON 

INSERT [dbo].[Links] ([Id], [Slug], [TypeLink], [TableId]) VALUES (1, N'Slider 01', N'slider', 1)
INSERT [dbo].[Links] ([Id], [Slug], [TypeLink], [TableId]) VALUES (2, N'Slider 02', N'slider', 2)
INSERT [dbo].[Links] ([Id], [Slug], [TypeLink], [TableId]) VALUES (3, N'Sider1', N'slider', 3)
SET IDENTITY_INSERT [dbo].[Links] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [Name], [Link], [Type], [TableId], [Orders], [Position], [ParentId], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (1, N'Trang chủ', N'#', N'custom', NULL, 1, N'mainmenu', 0, 1, CAST(N'2022-12-01T23:07:52.000' AS DateTime), 1, CAST(N'2022-12-01T23:13:24.990' AS DateTime), 1)
INSERT [dbo].[Menus] ([Id], [Name], [Link], [Type], [TableId], [Orders], [Position], [ParentId], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (2, N'Tất cả sản phẩm', N'tat-ca-san-pham', N'custom', NULL, 5, N'mainmenu', 0, 1, CAST(N'2022-12-01T23:10:51.000' AS DateTime), 1, CAST(N'2022-12-01T23:11:26.200' AS DateTime), 1)
INSERT [dbo].[Menus] ([Id], [Name], [Link], [Type], [TableId], [Orders], [Position], [ParentId], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (3, N'Tin tức', N'tat-ca-bai-viet', N'custom', NULL, 6, N'mainmenu', 0, 1, CAST(N'2022-12-01T23:12:53.000' AS DateTime), 1, CAST(N'2022-12-01T23:13:02.060' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Price], [Quantity], [Amount]) VALUES (1, 1, 1, CAST(12455.00 AS Decimal(18, 2)), 3, CAST(37365.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Price], [Quantity], [Amount]) VALUES (2, 2, 1, CAST(12455.00 AS Decimal(18, 2)), 1, CAST(12455.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Price], [Quantity], [Amount]) VALUES (3, 2, 2, CAST(1.00 AS Decimal(18, 2)), 1, CAST(1.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [Code], [UserId], [CreateDate], [ExportDate], [DeliveryAddress], [DeliveryName], [DeliveryPhone], [DeliveryEmail], [DeliveryNote], [UpdatedBy], [UpdatedAt], [Status]) VALUES (1, N'656158427496287', 2, CAST(N'2022-12-01T23:21:44.847' AS DateTime), CAST(N'2022-12-01T23:21:44.847' AS DateTime), NULL, NULL, NULL, NULL, N'', 6, CAST(N'2023-05-13T17:13:32.770' AS DateTime), 0)
INSERT [dbo].[Orders] ([Id], [Code], [UserId], [CreateDate], [ExportDate], [DeliveryAddress], [DeliveryName], [DeliveryPhone], [DeliveryEmail], [DeliveryNote], [UpdatedBy], [UpdatedAt], [Status]) VALUES (2, N'020206718571343', 3, CAST(N'2022-12-02T01:06:44.643' AS DateTime), CAST(N'2022-12-02T01:06:44.643' AS DateTime), NULL, NULL, NULL, NULL, N'', 6, CAST(N'2023-05-13T17:13:31.473' AS DateTime), 0)
INSERT [dbo].[Orders] ([Id], [Code], [UserId], [CreateDate], [ExportDate], [DeliveryAddress], [DeliveryName], [DeliveryPhone], [DeliveryEmail], [DeliveryNote], [UpdatedBy], [UpdatedAt], [Status]) VALUES (3, N'922304998253434', 8, CAST(N'2022-12-02T13:06:50.780' AS DateTime), CAST(N'2022-12-02T13:06:50.780' AS DateTime), NULL, NULL, NULL, NULL, N'', 6, CAST(N'2023-05-13T17:13:22.950' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([Id], [TopId], [Title], [Slug], [Detail], [Img], [Type], [MetaDesc], [MetaKey], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (1, 1, N'sđá', N'sad', N'sad', N'', N'ád', N'ádas', N'đá', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Posts] ([Id], [TopId], [Title], [Slug], [Detail], [Img], [Type], [MetaDesc], [MetaKey], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (8, 2, N'sdadsa', N'dsadasd', N'sdadsad', N'', N'dfscsdf', N'dsa', N'sadas', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Posts] ([Id], [TopId], [Title], [Slug], [Detail], [Img], [Type], [MetaDesc], [MetaKey], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (10, 0, N'Hehe', N'hehe', NULL, N'hehe.jpg', N'Page', N'hjhj', N'hehe', 1, CAST(N'2022-12-02T01:14:59.000' AS DateTime), 6, CAST(N'2023-05-11T20:42:51.063' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Ratings] ON 

INSERT [dbo].[Ratings] ([Id], [ProductId], [UserId], [UserName], [DetailRating], [Email], [RatingStar], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, 1, 2, N'hoang123', N'sản phẩm này đỉnh vcl', N'hoang@gmail.com', 5, NULL, CAST(N'2022-12-01T23:30:32.307' AS DateTime), NULL, CAST(N'2022-12-01T23:30:32.307' AS DateTime))
SET IDENTITY_INSERT [dbo].[Ratings] OFF
GO
SET IDENTITY_INSERT [dbo].[Sliders] ON 

INSERT [dbo].[Sliders] ([Id], [Name], [Link], [Detail], [Position], [Img], [Orders], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (1, N'Slider 01', N'Slider 01', N'Slider 01', N'SlideShow', N'Slider 01.jpg', 1, 1, CAST(N'2022-12-01T23:04:15.820' AS DateTime), 1, CAST(N'2022-12-01T23:06:34.587' AS DateTime), 0)
INSERT [dbo].[Sliders] ([Id], [Name], [Link], [Detail], [Position], [Img], [Orders], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (2, N'Slider 02', N'Slider 02', N'Slider 02', N'SlideShow', N'Slider 02.jpg', 1, 1, CAST(N'2022-12-01T23:04:29.540' AS DateTime), 1, CAST(N'2022-12-01T23:06:35.383' AS DateTime), 0)
INSERT [dbo].[Sliders] ([Id], [Name], [Link], [Detail], [Position], [Img], [Orders], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (3, N'Sider1', N'Sider1', N'Sider1', N'SlideShow', N'Sider1.jpg', 1, 1, CAST(N'2022-12-01T23:06:56.760' AS DateTime), 6, CAST(N'2023-05-11T20:35:38.253' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Sliders] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [Name], [Slug], [Img], [Address], [Phone], [Email], [Orders], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (1, N'Nhà cung cấp A', N'nha-cung-cap-a', N'nha-cung-cap-a.jpg', N'Sài Gòn', N'123123123', N'a@gmail.com', NULL, 1, CAST(N'2022-12-01T23:15:15.003' AS DateTime), 6, CAST(N'2023-05-11T20:37:30.720' AS DateTime), 0)
INSERT [dbo].[Suppliers] ([Id], [Name], [Slug], [Img], [Address], [Phone], [Email], [Orders], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (2, N'Nhà cung cấp B', N'nha-cung-cap-b', N'nha-cung-cap-b.jpg', N'Bình Định', N'1234657891', N'b@gmail.com', NULL, 1, CAST(N'2022-12-01T23:15:37.423' AS DateTime), 6, CAST(N'2023-05-11T20:37:32.277' AS DateTime), 0)
INSERT [dbo].[Suppliers] ([Id], [Name], [Slug], [Img], [Address], [Phone], [Email], [Orders], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (3, N'Thegioididong', N'thegioididong', N'thegioididong.jpg', N'123', N'123456789', N'test1@gmail.com', NULL, 6, CAST(N'2023-05-13T14:55:09.817' AS DateTime), 6, CAST(N'2023-05-13T14:55:09.817' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Topics] ON 

INSERT [dbo].[Topics] ([Id], [Name], [Slug], [ParentId], [Orders], [MetaDesc], [MetaKey], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (1, N'dsa', N'dsa', 0, 1, N'sadd', N'sad', 1, CAST(N'2022-12-02T01:02:18.147' AS DateTime), 6, CAST(N'2023-05-11T20:41:35.753' AS DateTime), 0)
INSERT [dbo].[Topics] ([Id], [Name], [Slug], [ParentId], [Orders], [MetaDesc], [MetaKey], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (2, N'hangdientu', N'hangdientu', 0, 1, N'ngonbore', N'hang-dien-tu', 6, CAST(N'2023-05-11T20:42:03.560' AS DateTime), 6, CAST(N'2023-05-11T20:42:03.560' AS DateTime), 1)
INSERT [dbo].[Topics] ([Id], [Name], [Slug], [ParentId], [Orders], [MetaDesc], [MetaKey], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Status]) VALUES (3, N'hang phu kien', N'hang-phu-kien', 0, 1, N'phu kien', N'phu-kien', 6, CAST(N'2023-06-10T14:09:57.800' AS DateTime), 6, CAST(N'2023-06-10T14:09:57.800' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Topics] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [UserName], [Password], [Email], [Gender], [Phone], [Address], [Images], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Access], [Status]) VALUES (1, N'Ho Ngoc Toan', N'toantoan', N'afdd0b4ad2ec172c586e2150770fbf9e', N'toan24032002@gmail.com', 0, N'0896414627', N'63/49', N'toantoan.jpg', NULL, CAST(N'2023-04-18T23:31:44.620' AS DateTime), NULL, CAST(N'2023-04-18T23:31:44.620' AS DateTime), 2, 1)
INSERT [dbo].[Users] ([Id], [FullName], [UserName], [Password], [Email], [Gender], [Phone], [Address], [Images], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Access], [Status]) VALUES (2, N'Toan', N'hongoctoan123', N'e10adc3949ba59abbe56e057f20f883e', N'hello@gmail.com', 0, N'123456789', N'123', N'hongoctoan123.jpg', NULL, CAST(N'2023-05-06T14:19:42.470' AS DateTime), NULL, CAST(N'2023-05-06T14:19:42.470' AS DateTime), 2, 1)
INSERT [dbo].[Users] ([Id], [FullName], [UserName], [Password], [Email], [Gender], [Phone], [Address], [Images], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Access], [Status]) VALUES (3, N'test', N'tester', N'e10adc3949ba59abbe56e057f20f883e', N'test@gmail.com', 0, N'21323', N'TPHCM', N'tester.jpg', NULL, CAST(N'2022-12-02T01:01:46.450' AS DateTime), NULL, CAST(N'2022-12-02T01:01:46.450' AS DateTime), 2, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
